---
name: browse
url: /browse
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/customer/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-customer">
        <div class="ls-customer-pages" ng-controller="browseCtrl as browse">
            <div class="grid-block ls-full-height ls-vertical">
               <div class="grid-block medium-8 vertical order-2">
                    <div class="grid-content">
                        <ul class="ls-meal-choices">
                            <li class="ls-meal-choice-card" ng-click="getMealDetails(offer)" ng-repeat="offer in offers" ng-if="offer.plates_left > 0">
                                <img ng-src="https://s3.ca-central-1.amazonaws.com/ls-frontend/meals/{{offer.meal.meal_image}}" alt="" ng-if="offer.meal.meal_image != ''">
                                <img src="/assets/img/lunchsociety-thumb.png" ng-if="offer.meal.meal_image == ''"/>
                                <h3 class="ls-meal-name">{{offer.meal.name}}</h3>
                                <p class="ls-res-name">{{offer.meal.restaurant.name}}</p>
                                <p class="ls-address">{{offer.meal.restaurant.street_address}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-block medium-4 vertical ls-map order-1">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                        <ui-gmap-markers models="restaurants" coords="'self'" icon="'icon'" options="'options'" click="'onClick'">
                             <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{title}}</div>
                             </ui-gmap-windows>
                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
           </div>
        </div>
    </div>
</div>
