---
name: create-feedback
url: /create-feedback/:id
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/customer/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-customer">
        <div class="grid-container ls-customer-pages ls-feedback-page" ng-controller="createFeedbackCtrl as createFeedback">
            <div class="grid-block ls-vertical">
                <div class="grid-block medium-9 vertical">
                    <div class="grid-content">
                        <h2>Feedback Form For Order #{{order.id}}</h2>
                    </div>
                </div>
                <div class="grid-block medium-3 vertical">
                    <div class="grid-content text-right">
                        <p class="ls-order-date">Order Date: {{order.order_date | amAdd: '1' : 'd' | amDateFormat:'MMMM DD, YYYY'}}</p>
                    </div>
                </div>
            </div>
            <div class="grid-block ls-vertical">
                <div class="grid-block medium-8 vertical">
                    <div class="grid-content">
                        <div class="ls-meal-offer-details">
                            <h3>{{order.offer.meal.name}}</h3>
                            <h5>{{order.offer.meal.restaurant.name}}</h5>
                            <ul class="ls-text-tabs">
                                <li class="ls-text-tab" ng-class="{active: tabview == 'description'}"><a ng-click="changeTabview('description')" class="ls-tab-link">Description</a></li>
                                <li class="ls-text-tab" ng-class="{active: tabview == 'ingredients'}"><a ng-click="changeTabview('ingredients')" class="ls-tab-link">Ingredients</a></li>
                            </ul>
                            <div ng-show="tabview" ng-switch="tabview">
                                <div class="ls-tab-content" ng-switch-when="description">
                                    <p class="ls-description">{{order.offer.meal.description}}</p>
                                </div>
                                <div class="ls-tab-content" ng-switch-when="ingredients">
                                    <p class="ls-ingredients">{{order.offer.meal.ingredients}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-block medium-4 vertical">
                    <div class="grid-content text-right">
                        <img ng-src="https://s3.ca-central-1.amazonaws.com/ls-frontend/meals/{{order.offer.meal.meal_image}}" alt="" ng-if="offer.meal.meal_image != ''">
                    </div>
                </div>
            </div>
            <form class="ls-form ls-create-form" name="feedbackForm" ng-submit="submit(feedbackForm.$valid)" novalidate>
                <div class="grid-block ls-vertical">
                    <div class="grid-block small-12 medium-6 vertical">
                        <div class="grid-content text-center">
                            <div class="ls-form-group">
                                <label>Portion</label>
                                <ls-rating value="feedbackFormData.portion" max="5" ng-model="feedbackFormData.portion"></ls-rating>
                            </div>
                            <div class="ls-form-group">
                                <label>Flavour</label>
                                <ls-rating value="feedbackFormData.flavour" max="5" ng-model="feedbackFormData.flavour"></ls-rating>
                            </div>
                            <div class="ls-form-group">
                                <label>Overall</label>
                                <ls-rating value="feedbackFormData.overall" max="5" ng-model="feedbackFormData.overall"></ls-rating>
                            </div>
                        </div>
                    </div>
                    <div class="grid-block small-12 medium-6 vertical">
                        <div class="grid-content text-center">
                            <label for="mealDesc">
                                Comments
                                <textarea name="mealDesc" id="mealDesc" cols="30" rows="8" placeholder="e.g. Soft glazed duck served on sizzling plate." class="ls-input-fields" ng-model="feedbackFormData.comments"></textarea>
                            </label>
                            <input type="submit" class="button" value="Send Feedback" ng-disabled="feedbackForm.$invalid">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
