---
name: create-profile
url: /create-profile/:id
---
<div class="vertical grid-frame">
    <header class="ls-home-header">
        <div ng-include="'/templates/partials/home_bar.html'"></div>
    </header>
    <div class="ls-bg ls-register-bg"></div>
    <article class="ls-common-body">
        <section class="ls-create-profile" ng-controller="createProfileCtrl as createProfile">
            <div class="grid-block">
                <div class="grid-block small-12 vertical">
                    <div class="grid-content">
                        <ls-progress-bar screens="screens" activeScreen="activeScreen" barComplete="barComplete">
                            <section class="ls-progress-section">
                                <div class="ls-progress-wrapper">
                                    <div class="ls-progress">
                                        <div class="bar">
                                            <div ng-style="barComplete" class="bar__fill"></div>
                                        </div>
                                        <div class="point" ng-class="{'point--active': activeScreen == screen.name,
                                           'point--complete': screen.completed }" ng-repeat="screen in screens">
                                            <div class="bullet"></div>
                                            <label class="label">{{screen.label}}</label>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </ls-progress-bar>
                    </div>
                </div>
            </div>
            <div ng-show="screenview" ng-switch="screenview">
                <form class="ls-form ls-create-form" name="profileForm">
                    <!-- Personal Details -->
                    <div ng-switch-when="details">
                        <div class="grid-block align-center">
                            <div class="grid-block small-10 vertical text-center">
                                <h2 class="ls-header">Create An Account</h2>
                                <p class="ls-subheader">Get delicious lunch every week day at a fraction of the cost.</p>
                            </div>
                        </div>
                        <div class="grid-block align-center">
                            <div class="grid-block small-5 vertical">
                                <div class="grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : profileForm.firstName.$invalid && !profileForm.firstName.$pristine }">
                                        <label for="firstName">
                                            First Name
                                            <input type="text" name="firstName" id="firstName" placeholder="First Name" class="ls-input-fields" ng-model="profileFormData.first_name" required>
                                        </label>
                                        <p ng-show="profileForm.firstName.$invalid && !profileForm.firstName.$pristine" class="ls-help-block">Enter a valid first name.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }">
                                        <label>
                                            Email Address
                                            <input type="email" name="email" placeholder="Email Address" class="ls-input-fields" ng-model="profileFormData.email" required disabled>
                                        </label>
                                        <p ng-show="profileForm.email.$invalid && !profileForm.email.$pristine" class="ls-help-block">Enter a valid email.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-block small-5 vertical">
                                <div class="grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : profileForm.lastName.$invalid && !profileForm.lastName.$pristine }">
                                        <label for="lastName">
                                            Last Name
                                            <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="ls-input-fields" ng-model="profileFormData.last_name" required>
                                        </label>
                                        <p ng-show="profileForm.lastName.$invalid && !profileForm.lastName.$pristine" class="ls-help-block">Enter a valid last name.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : profileForm.postalCode.$invalid && !profileForm.postalCode.$pristine }">
                                        <label for="postalCode">
                                            Postal Code
                                            <input type="text" name="postalCode" id="postalCode" placeholder="Postal Code" class="ls-input-fields" ng-model="profileFormData.postal_code" required>
                                        </label>
                                        <p ng-show="profileForm.postalCode.$invalid && !profileForm.postalCode.$pristine" class="ls-help-block">Enter a valid postal code.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Meal Plans -->
                    <div ng-switch-when="plans">
                        <div class="grid-block align-center">
                            <div class="grid-block small-10 vertical text-center">
                                <h2 class="ls-header">Select Your Plan</h2>
                                <p class="ls-subheader">Your plan will last only for 30 days. Lunch is available only on weekdays.</p>
                            </div>
                        </div>
                        <div class="grid-block align-center">
                            <div class="grid-block small-10 vertical">
                                <div class="grid-content">
                                    <ul class="ls-plan-choices" >
                                        <li class="ls-plan-choice-card" ng-click="planSelect(plan)" ng-class="{'selected': profileFormData.plan.id == plan.id}" ng-repeat="plan in plans">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            <div class="ls-plan-choice-card__front">
                                                <h4 class="ls-plan-name">{{plan.name}}</h4>
                                                <figure class="ls-plan-images">
                                                    <img src="assets/img/food-icon.png"/>
                                                </figure>
                                                <p class="ls-plan-meals">{{plan.num_meals}} Meals For</p>
                                                <p class="ls-plan-price">{{plan.price | currency}} Per Meal</p>
                                            </div>
                                            <div class="ls-select-button">Select Plan</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Payment -->
                <div ng-switch-when="payment">
                    <form class="ls-form ls-create-form" ng-submit="submitPaymentForm(paymentForm.$valid)" name="paymentForm" stripe-form="stripeCallback">
                        <div class="grid-block align-center">
                            <div class="grid-block small-10 vertical text-center">
                                <h2 class="ls-header">Enter Your Billing Information</h2>
                                <p class="ls-subheader">Plan automatically renews every 30 days. You can cancel anytime.</p>
                            </div>
                        </div>
                        <div class="grid-block align-center">
                            <div class="grid-block small-5 vertical">
                                <div class="grid-content">
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine }">
                                        <label for="cardNumber">
                                            Card Number
                                            <input type="text" name="cardNumber" id="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX" class="ls-input-fields" ng-model="number" payments-format="card" payments-validate="card" >
                                        </label>
                                        <p ng-show="paymentForm.cardNumber.$invalid && !paymentForm.cardNumber.$pristine" class="ls-help-block">Enter a valid card number.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : paymentForm.expiryDate.$invalid && !paymentForm.expiryDate.$pristine }">
                                        <label for="expiryDate">
                                            Expiry Date
                                            <input type="text" name="expiryDate" id="expiryDate" placeholder="MM/YYYY" class="ls-input-fields" ng-model="expiry" payments-format="expiry" payments-validate="expiry" required>
                                        </label>
                                        <p ng-show="paymentForm.expiryDate.$invalid && !paymentForm.expiryDate.$pristine" class="ls-help-block">Enter a valid expiry date.</p>
                                    </div>
                                    <div class="ls-form-group" ng-class="{ 'ls-has-error' : paymentForm.cvc.$invalid && !paymentForm.cvc.$pristine }">
                                        <label for="cvc">
                                            CVC
                                            <input type="text" name="cvc" id="cvc" placeholder="XXX" class="ls-input-fields" ng-model="cvc" payments-format="cvc" payments-validate="cvc" required>
                                        </label>
                                        <p ng-show="paymentForm.cvc.$invalid && !paymentForm.cvc.$pristine" class="ls-help-block">Enter a valid CVC.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-block small-5 vertical">
                                <div class="grid-content">
                                    <div class="grid-content text-center ls-summary" ng-if="profileFormData.plan != ''">
                                        <h5>Summary</h5>
                                        <p>Plan Name: <span class="ls-summary-details">{{profileFormData.plan.name}}</span></p>
                                        <p>Amount To Pay: <span class="ls-summary-details">{{profileFormData.plan.total_price}} CAD ({{profileFormData.plan.price | currency}} / Meal)</span> For Today's Date to 30 Days</p>
                                        <input type="submit" value="Verify Payment" class="large button ls-pay-button" ng-disabled="paymentForm.$invalid">
                                        <small class="ls-terms">By verifying payment, you are agreeing to our <a ui-sref="terms">Terms of Use</a> &amp; <a ui-sref="policy">Privacy Policy</a>.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </form>
                </div>
                <div ng-switch-when="confirm">
                    <div class="grid-block align-center">
                        <div class="grid-block small-10 vertical">
                            <div class="grid-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="button secondary ls-screen-link ls-screen-back-link" ng-class="{hide: prevScreen == null}" ng-click="changeScreenView(prevScreen)">Back</a>
            <a class="button secondary ls-screen-link ls-screen-next-link" ng-class="{hide: nextScreen == null}" ng-click="changeScreenView(nextScreen)">Next</a>
            <!--<div class="grid-block align-center">
                <div class="grid-block small-10 vertical">
                    <div class="grid-content">
                        <div class="ls-screen-link-wrapper">

                        </div>
                    </div>
                </div>
            </div>-->
        </section>
        <footer class="ls-home-footer">
             <div ng-include="'/templates/partials/home_footer.html'"></div>
        </footer>
    </article>
</div>
