---
name: kitchen-closed
url: /kitchen-closed
---
<div class="vertical grid-frame">
    <div class="ls-app-bg"></div>
    <div ng-include="'/templates/customer/partials/menu-bar.html'"></div>
    <div class="ls-app-body ls-customer">
        <div class="ls-customer-pages ls-kitchen-closed" ng-controller="kitchenClosedCtrl as kitchenClosed">
            <div class="ls-bg"></div>
            <div class="grid-block ls-full-height">
                <div class="ls-info text-center">
                    <h2>Kitchen Is Closed</h2>
                    <p>The Chef`s are out back scrubbing their clogs and sharpening their knives. It will be open again from 5pm to 9am to order your next scrumptious lunch!</p>
                </div>
            </div>
        </div>
    </div>
</div>
